// Typography: Helvetica (default)
$body-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$heading-font-family: 'Raleway', Helvetica, Arial, sans-serif;
$alternative-font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$navigation-font-family: 'Roboto', Helvetica, Arial, sans-serif;

// Colors (default theme)
$text-color: #333;
$text-color-light: #999;
$text-color-dark: #222;
$link-color: #F5C815;
$link-color-dark: #d5af16;
$accent-color: #16a654;
$background-color-body: #fff;
$background-color-header: #fff;
$background-color-footer: #fff;
$background-color-hero: #ddd;

// Borders
$border-color: #ccc;
$border-width: 0px;

// Breakpoints
$breakpoint-smaller: 480px; //Monst Mobile phone on portrait mode -
$breakpoint-small: 768px; //Most celphones on landcape and tablet portrait -
$breakpoint-medium: 1024px; // Tablet on landcape mode -
$breakpoint-large: 1250px; //large screnns +
