@import "base";

/* #SITE SPECIFIC CUSTOM CSS (e.g. Base Overrides)
---------------------------------
#TYPOGRAPHY OVERRIDES
#@FONT-FACE
#BODY
#HEADINGS
#PARAGRAPHS
#LAYOUT OVERRIDES
#BODY
#CONTAINER
#NAVIGATION
#SITE-BRANDING
#SITE-NAVIGATION
#CONTENT
#SECTIONS
--------------------------------- */

/* Custom Overrides */

body {
  animation: fadein 2s;
}

@keyframes fadein {
  from {opacity:0;}
  to {opacity: 1;}
}

.site-navigation {
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,p {
  position: relative;
}

body main {
  overflow-x: hidden;
}

/*CUSTOM HERO HEADLINE*/

.hero .h1 {
  font-size: 2.5em;
}


/*HOME SECTION CUSTOMIZATION*/

/*SIDE ART*/

.side-art::after, .side-art::before {
  content: '';
  pointer-events: none;
  transition: all .8s cubic-bezier(.62,.01,.38,1.0);
}

.side-art {
  &::before{
    transform: translateX(-100%) scale(.75) rotate(-10deg);
  }
  &::after{
    transform: translateX(+100%) scale(.75)  rotate(10deg);
  }
}

.side-art.top,.side-art.bottom, {
  &::before,&::after{
    transform: translateX(0) scale(1)  rotate(0);
  }
}

.side-art.active{
  &::before,&::after{
    transform: translateX(0) scale(1)  rotate(0);
  }
}

@mixin palm1 {
  position: absolute;
  background: url("../img/palm1.png") no-repeat;
  background-size: contain;
  background-position: left top;
  width: 25%;
  height: 75%;
  top: 2.5%;
  left: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) and (orientation: portrait){
    width: 30%;
  }
  @media (min-width: $breakpoint-large) {
    max-width: 550px;
  }
}
@mixin palm3 {
  position: absolute;
  background: url("../img/palm3.png") no-repeat;
  background-size: contain;
  background-position: left top;
  width: 25%;
  height: 75%;
  top: 2.5%;
  left: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) and (orientation: portrait){
    width: 30%;
  }
  @media (min-width: $breakpoint-large) {
    max-width: 550px;
  }
}
@mixin palm4 {
  position: absolute;
  background: url("../img/palm4.png") no-repeat;
  background-size: contain;
  background-position: right bottom;
  width: 25%;
  height: 75%;
  bottom: -3%;
  right: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) and (orientation: portrait){
    width: 30%;
  }
  @media (min-width: $breakpoint-large) {
    max-width: 550px;
  }
}
@mixin ligths1 {
  position: absolute;
  background: url("../img/ligths1.png") no-repeat;
  background-size: 110% auto;
  background-position: center bottom 50Vh;
  width: 100%;
  height: calc(32% - 2.5em);
  top: 0; left: 0; right: 0;
  z-index: 3;
  image-rendering: crisp-edges;
  @media (max-width: $breakpoint-small - 1) and (orientation: portrait){
    height: calc(35% - 2em);
  }
  @media (max-width: $breakpoint-small - 1) and (orientation: landscape) {
    height: calc(30% - 1.75em);
  }
  @media (max-width: $breakpoint-smaller - 1) {
    height: calc(32% + .3em);
  }
  @media (min-width: $breakpoint-large) {
    height: calc(35% - 3em);
  }
}
@mixin ligths2 {
  position: absolute;
  background: url("../img/ligths2.png") no-repeat;
  background-size: 110% auto;
  background-position: center bottom 50Vh;
  width: 100%;
  height: 32%;
  top: 0; left: 0; right: 0;
  z-index: 2;
  image-rendering: crisp-edges;
  @media (min-width: $breakpoint-large), (max-width: $breakpoint-small - 1) and (orientation: portrait) {
    height: 35%;
  }
  @media (max-width: $breakpoint-small - 1) and (orientation: landscape) {
    height: 30%;
  }
}
@mixin tiles1 {
  position: absolute;
  background: url("../img/tiles1.png") no-repeat;
  background-size: auto 100%;
  background-position: right top 0;
  width: 28%;
  height: 110%;
  top: -7.5%;
  left: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1){
    width: 35%;
  }
  @media (min-width: $breakpoint-large) {
    max-width: 370px;
  }
  @media (min-width: $breakpoint-large * 2) {
    max-width: 470px;
  }
}
@mixin tiles2 {
  position: absolute;
  background: url("../img/tiles2.png") no-repeat;
  background-size: auto 100%;
  background-position: left top 0;
  width: 28%;
  height: 103%;
  bottom: -4%;
  right: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1){
    width: 35%;
  }
  @media (min-width: $breakpoint-large) {
    max-width: 370px;
  }
  @media (min-width: $breakpoint-large * 2) {
    max-width: 470px;
  }
}
@mixin palm5 {
  position: absolute;
  background: url("../img/palm5.png") no-repeat;
  background-size: contain;
  background-position: left top;
  width: 22%;
  height: 50%;
  top: 22%;
  left: 0;
  z-index: 1;
  @media (min-width: $breakpoint-large) {
    max-width: 525px;
  }
  @media (max-width: $breakpoint-small - 1) {
    width: 30%;
  }
  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
    top: 15%;
  }
}
@mixin beachscape {
  position: absolute;
  background: url("../img/beachscape.png") no-repeat;
  background-size: contain;
  background-position: left bottom;
  width: 40%;
  height: 50%;
  bottom: -1%;
  left: 0;
  z-index: 1;
  image-rendering: crisp-edges;
  @media (min-width: $breakpoint-large) {
    max-width: 900px;
  }
  @media (max-width: $breakpoint-small - 1) {
    width: 52.5%;
  }
}
@mixin sun {
  position: absolute;
  background: url("../img/sun.png") no-repeat;
  background-size: contain;
  background-position: right bottom -375px;
  width: 22%;
  height: 60%;
  bottom: -2.5%;
  right: 0;
  z-index: 1;
  @media (min-width: $breakpoint-large) {
    max-width: 375px;
  }
  @media (max-width: $breakpoint-small - 1) {
    width: 30%;
  }
}
@mixin tire {
  position: absolute;
  background: url("../img/tire.png") no-repeat;
  background-size: contain;
  background-position: left bottom;
  width: 25%;
  height: 87%;
  top: 15%;
  left: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) {
    width: 42%;
    background-position-y: top;
  }
}
@mixin lane {
  position: absolute;
  background: url("../img/lane.png") no-repeat;
  background-size: contain;
  background-position: right bottom;
  width: 30%;
  height: 90%;
  bottom: -5%;
  right: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) {
    width: 35%;
  }
}
@mixin ligths4 {
  position: absolute;
  background: url("../img/ligths4.png") no-repeat;
  background-size: contain;
  background-position: right 10px top -2px;
  width: 55%;
  height: 50%;
  top: 0;
  left: 0;
  z-index: 1;
  @media  (min-width: $breakpoint-large){
    max-width: 1000px;
  }
  @media (max-width: $breakpoint-small - 1) {
    width: 99%;
  }
}
@mixin spent {
  position: absolute;
  background: url("../img/spent.png") no-repeat;
  background-size: contain;
  background-position: right top;
  width: 20%;
  height: 30%;
  top: 5%;
  right: 2%;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) {
    top: 10%;
    width: 45%;
  }
  @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
    width: 20%;
  }
  @media  (min-width: $breakpoint-large){
    max-width: 450px;
  }
}
@mixin steps {
  position: absolute;
  background: url("../img/steps.png") no-repeat;
  background-size: contain;
  background-position: left bottom;
  width: 22%;
  height: 35%;
  bottom: -2%;
  left: 0;
  z-index: 1;
  @media (max-width: $breakpoint-small - 1) {
    width: 50%;
  }
  @media  (min-width: $breakpoint-large){
    max-width: 550px;
  }
}
@mixin grindz {
  position: absolute;
  background: url("../img/grindz.png") no-repeat;
  background-size: contain;
  background-position: right bottom;
  width: 23%;
  height: 35%;
  bottom: 4%;
  right: 0;
  z-index: 1;
  @media  (min-width: $breakpoint-large){
    height: 30%;
    max-width: 500px;
  }
  @media (max-width: $breakpoint-small - 1) {
    bottom: 20%;
    height: 25%;
    width: 45%;
  }
}

#home {

  section, {
    margin: 0;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom;
    position: relative;

    .container {
      padding: 2em 0;
      @media (min-width: $breakpoint-smaller)  {
        min-width: 480px;
      }
    }

    &.hero .container {
      position: relative;
      z-index: 2;
      h1 {
        img {
          max-width: 500px;
          width: 70%;
          @media (max-width: $breakpoint-smaller), (max-width: $breakpoint-small) and (orientation: landscape) {
            max-width: 300px;
          }
        }
      }
      p {
        width: 50%;
        margin-left: auto; margin-right: auto;

        @media (max-width: $breakpoint-smaller), (max-width: $breakpoint-small) and (orientation: landscape) {
          font-size: 1.5em;
          margin-bottom: .8em;
        }

        @media (max-width: $breakpoint-smaller) {
          width: 75%;
        }

        @media (min-width: $breakpoint-medium) {
          width: 580px;
        }
      }
    }
  }

  .hero {
    background-color: #AEAF7B;
    background-image: url("../img/back1.png");
    min-height: 80vh;

    .side-art.palms {
      &::before {
        @include palm1;
      }

      &::after {
        @include palm4;
      }
    }

    .side-art.ligths {
      &::before {
        @include ligths1;
      }

      &::after {
        @include ligths2;
      }
      &.active::after,&.active::before {
        background-position: center bottom;
      }
      // &.active:after {
      //   transition-delay: 1s;
      // }
    }
  }

  .next {
    background-color: #B4CBBF;
    background-image:url("../img/back2.png");
    min-height: 65vh;

    .side-art.tiles {
      &::before {
        @include tiles1;
      }

      &::after {
        @include tiles2;
      }
    }
  }

  .bazaar {
    background-color: #A8876B;
    background-image:url("../img/back3.png");
    min-height: 50vh;

    .side-art.silhouette {
      &:before {
        @include beachscape;
      }
    }

    .side-art.silhouette2 {
      &:before {
        @include palm5;
      }
    }

    .side-art.sun {
      &:after {
        @include sun;
      }
      &.active:after {
        background-position: right bottom;
      }
    }
  }

  .elsewhere {
    background-color: #D0D6AD;
    background-image:url("../img/back4.png");
    min-height: 40vh;

    .side-art.road {
      &::before {
        @include tire;
      }

      &::after {
        @include lane;
      }
    }
  }

  .data {
    background-color: #A5CEAC;
    background-image:url("../img/back5.png");
    min-height: 65vh;
    .data-nb {
      display: block;
    }
    .data-value {
      padding: 0;
      margin: 0 auto;
      font-style: italic;
      font-feature-settings: "lnum" on;
      font-size: 450%;
    }
    .data-unit {
      font-style: italic;
      color: $text-color-dark;
      margin: 0 auto;
      font-size: 250%;
      + .data-plus {
      }
    }
    .data-plus {
      color: $accent-color;
      position: absolute;
      top: .15em;
      margin-left: .1em;
      font-size: 200%;
      font-weight: 800;
    }

    #events .side-art::before {
      @include ligths4;
    }

    #spent .side-art::after {
      @include spent;
    }

    #attendees .side-art::before {
      @include steps;
    }

    #grindz .side-art::after {
      @include grindz;
    }
  }

  .map {
    background-color: #D8C6B2;
    background-image: url("../img/map.png"), url("../img/back6.png");
    background-repeat: no-repeat, repeat-x;
    background-position: left 60% center, center;
    background-size: cover;
    @media (max-width: $breakpoint-small - 1) {
      background-position: bottom 35% left 45%, center;
      background-size: auto 150%, cover;
    }
    min-height: 750px;
    min-height: 50vh;
  }
}



//HOME SECTION HEADINGS
.sec-subs {
  font-family: $alternative-font-family;
  font-size: 1em;
  text-transform: uppercase;
  margin: auto;
  padding-top: 1em;
  display: block;
  text-align: left;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.sec-subs:after {
  content:'';
  display: block;
  border-bottom: 3px solid $link-color;
  width: 0%;
  position: absolute;
  margin-top: .5em;
  left: 1.5em;
  transition: .2s width ease-in;
}

section:hover .sec-subs:after, section:focus .sec-subs:after, section .sec-sub.on:after {
  width: 100%;
}

// SUBPAGES CUSTOMIZATION

.sub-hero {
  margin-bottom: 2em;
  .featured {
    min-height: 50vh;
    max-height: 300px;
    position: relative;
    margin-bottom: 2em;
    background-size: auto 100%;
    background-repeat: repeat-x;
    @media (max-width: $breakpoint-small) and (orientation: landscape) {
      min-height: 200px;
    }
  }
  p {
    font-style: italic;
  }
  h1 {
    font-weight: 900;
    color: white;
  }
}

.about {
  .sub-hero .featured {
    background-color: #AEAF7B;
    background-image: url("../img/back1.png");
  }

  .side-art.palms {
    &::before {
      @include palm3;
    }

    &::after{
      @include palm4;
    }
  }

  .side-art.ligths {
    &::before {
      @include ligths1;
    }

    &::after{
      @include ligths2;
    }
  }

  ul.list-grid {
    margin-top: 3em;
    li {
      position: relative;
      overflow: hidden;
      height: 0;
      padding: 0;
      padding-bottom: 30%;
      @media (max-width: $breakpoint-small - 1) {
        padding-bottom: 47.5%;
      }
      @media (max-width:$breakpoint-smaller - 1) {
        padding-bottom: 100%;
      }
      img {
        width: 100%;
      }
      &:nth-child(2) img {
        width: 190%;
        position: absolute;
        top: 0; right: -40%;
      }
      &:nth-child(3) img {
        width: 110%;
      }
      &:nth-child(6) img {
        width: 180%;
        position: absolute;
        bottom: -20%; right: -20%;
      }
      &:nth-child(9) img {
        width: 180%;
        position: absolute;
        bottom: -20%; right: -40%;
      }
    }
  }
}

.sunset-bazaar {
  .sub-hero .featured {
    background-color: #A8876B;
    background-image:url("../img/back3.png");
  }

  .side-art.silhouette {
    &:after {
      @include palm5;
    }

    &:before {
      @include beachscape;
    }
  }

  .side-art.sun {
    &:after {
      @include sun;
    }
  }
}

.monthly-event {
  .sub-hero .featured {
    background-color: #B4CBBF;
    background-image:url("../img/back2.png");
  }
  .side-art.tiles {
    &::before {
      @include tiles1;
      @media (orientation: landscape){
        background-position: left;
      }
    }

    &::after {
      @include tiles2;
      @media (orientation: landscape){
        background-position: right;
      }
    }
  }
}

.remote-event {
  .sub-hero .featured {
    background-color: #D0D6AD;
    background-image:url("../img/back4.png");
  }

  .side-art.road {
    &::before {
      @include tire;
    }

    &::after {
      @include lane;
    }
  }
}


.application {
  .sub-hero .featured {
    background-color: #A5CEAC;
    background-image:url("../img/back5.png");
  }

  #events-spent.side-art::before {
    @include ligths4;
  }

  #events-spent.side-art::after {
    @include spent;
  }

  #attendees-grindz.side-art::before {
    @include steps;
  }

  #attendees-grindz.side-art::after {
    @include grindz;
  }
}


//EVENTS LISTINGS

#all-events .event-listing li {
  background-color: #ECECDB;
  background-image: url("../img/back4.png");
  background-position: bottom;
  background-size: cover;
  position: relative;
  overflow: visible;

  &::before{
    content: '';
    display: block;
    padding-top: 100%;
    float: left;
  }

  .h1.oversized {
    font-size: 265%;
    stroke-width: 1px;
  }

  .h1.extra-oversized {
    font-size: 200%;
    stroke-width: 1.5px;
  }

  .content {
    padding: 4%;
    position: absolute;
    top: 50%; left: 0; right: 0;
    transform: translateY(-50%);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    background-color: #ECECDB;
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)), url("../img/back4.png");
  }

  @media (max-width: $breakpoint-smaller ) {
    height: 25em;
    position: sticky;
    &::before{
      content: '';
      display: none;
    }
  }
}

.event-subs {
  font-family: $alternative-font-family;
  position: absolute;
  font-size: 1em;
  text-transform: uppercase;
  margin: auto;
  display: inline-block;
  text-align: left;
  left: 4%;
  top: 10px;
  z-index: 2;
}

.event-subs::after {
  content: '';
  display: block;
  border-bottom: 3px solid #F5C815;
  width: 0%;
  position: absolute;
  margin-top: .5em;
  left: 1.5em;
  transition: .2s width ease-in;
}

li:hover .event-subs:after, li:focus .event-subs:after {
  width: 100%;
}

// HELPERS

.vertical-centered {
  padding-top: 6%;
  padding-bottom: 6%;
}

.flex-centered {
  display: flex;
  align-items: center;
}

//FOOTER CUSTOMIZATION

.subpage .site-footer::before {
  content:'';
  display: block;
  height: 2em;
  width: 100%;
  margin-bottom: .5em;
  box-shadow: inset 0 -10px 10px 0 rgba(0,0,0,.025);
  background-color: #D8C6B2;
  background-image: url("../img/map.png"), url("../img/back6.png");
  background-repeat: no-repeat, repeat-x;
  background-position: top, center;
  background-size: cover, contain;
}

.site-footer {
  padding-top:2em;

  .site-navigation {
    display: block;
  }

  form {
    margin: 0;
    input[type=email] {
      border: none;
      border-bottom: 2px solid $text-color-light;
    }
  }

  .fa-circle {
    color: $link-color;
  }

  p img {
    display: inline-block;
    height: 2.2em;
    transform: translateY(.5em);
    padding-left: .35em;
  }

  .site-navigation li {
    font-weight: normal;
    @media (min-width: $breakpoint-small) {
      margin-left: 0;
      text-align: left;
      clear: both;
      display: block;
      a {
        display: inline-block;
        margin: 0;
        padding: 0;
      }
    }
  }
}
