@import "base";

/* #SITE SPECIFIC CUSTOM CSS (e.g. Base Overrides)
---------------------------------
#TYPOGRAPHY OVERRIDES
#@FONT-FACE
#BODY
#HEADINGS
#PARAGRAPHS
#LAYOUT OVERRIDES
#BODY
#CONTAINER
#NAVIGATION
#SITE-BRANDING
#SITE-NAVIGATION
#CONTENT
#SECTIONS
--------------------------------- */

/* Custom Overrides */

.site-navigation {
  text-transform: uppercase;
}

/*CUSTOM HERO HEADLINE*/

.hero .h1 {
  font-size: 2.5em;
}


/*HOME SECTION CUSTOMIZATION*/

/*SIDE ART DIV*/

.side-art::after, .side-art::before {
  content: '';
  pointer-events: none;
  transition: all 3s ease;
}

@mixin palm1 {
  position: absolute;
  background: url("../img/palm1.png") no-repeat;
  background-size: 30% auto;
  background-position: left -5% top 20px;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin palm3 {
  position: absolute;
  background: url("../img/palm3.png") no-repeat;
  background-size: 30% auto;
  background-position: left -5% top 20px;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin palm4 {
  position: absolute;
  background: url("../img/palm4.png") no-repeat;
  background-size: 30% auto;
  background-position: right -5% bottom 0px;
  width: 100%;
  height: 105%;
  top: 0;
  right: 0;
  z-index: 1;
}
@mixin ligths1 {
  position: absolute;
  background: url("../img/ligths1.png") no-repeat;
  background-size: 110% auto;
  background-position: center 5%;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  image-rendering: crisp-edges;
}
@mixin ligths2 {
  position: absolute;
  background: url("../img/ligths2.png") no-repeat;
  background-size: 110% auto;
  background-position: center 17%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  image-rendering: crisp-edges;
}
@mixin tiles1 {
  position: absolute;
  background: url("../img/tiles1.png") no-repeat;
  background-size: auto 100%;
  background-position: left -23% top 0;
  width: 100%;
  height: 110%;
  bottom: -2.5%;
  left: 0;
  z-index: 1;
}
@mixin tiles2 {
  position: absolute;
  background: url("../img/tiles2.png") no-repeat;
  background-size: auto 100%;
  background-position: right -23% top 0;
  width: 100%;
  height: 105%;
  top: -1.25%;
  right: 0;
  z-index: 1;
}
@mixin palm5 {
  position: absolute;
  background: url("../img/palm5.png") no-repeat;
  background-size: 20% auto;
  background-position: left -5% top 30%;
  width: 100%;
  height: 110%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin sun {
  position: absolute;
  background: url("../img/sun.png") no-repeat;
  background-size: 22% auto;
  background-position: right -5% bottom 0px;
  width: 100%;
  height: 110%;
  top: 0;
  right: 0;
  z-index: 1;
}
@mixin beachscape {
  position: absolute;
  background: url("../img/beachscape.png") no-repeat;
  background-size: 40% auto;
  background-position: left -3% bottom;
  width: 100%;
  height: 102%;
  top: 0;
  left: 0;
  z-index: 1;
  image-rendering: crisp-edges;
}
@mixin crossing {
  position: absolute;
  background: url("../img/crossing.png") no-repeat;
  background-size: auto 80%;
  background-position: left -15% bottom;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin lane {
  position: absolute;
  background: url("../img/lane.png") no-repeat;
  background-size: auto 80%;
  background-position: right -5% bottom;
  width: 100%;
  height: 102%;
  top: 0;
  right: 0;
  z-index: 1;
}
@mixin ligths4 {
  position: absolute;
  background: url("../img/ligths4.png") no-repeat;
  background-size: 55% auto;
  background-position: left -5% top -2px;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin spent {
  position: absolute;
  background: url("../img/spent.png") no-repeat;
  background-size: auto 35%;
  background-position: right 3% top 10%;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin steps {
  position: absolute;
  background: url("../img/steps.png") no-repeat;
  background-size: auto 35%;
  background-position: left 3% bottom 0%;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}
@mixin grindz {
  position: absolute;
  background: url("../img/grindz.png") no-repeat;
  background-size: 20% auto;
  background-position: right -1% bottom 10%;
  width: 100%;
  height: 105%;
  top: 0;
  left: 0;
  z-index: 1;
}

#home {

  section, section.hero {
    margin: 0;
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom;
    position: relative;

    .container {
      padding: 2em 0;
    }

    h1 {
      img {
        max-width: 500px;
        width: 70%;
      }
    }
  }

  .hero {
    background:url("../img/back1.jpg");
    min-height: 80vh;
    .column {
      margin-bottom: auto;
    }
    @media (min-width: $breakpoint-medium) {
      .column {
        width: 580px;
      }
    }

    .side-art::before {
      @include palm1;
    }
    .side-art .side-art::before {
      @include palm4;
    }
    .side-art::after {
      @include ligths1;
    }
    .side-art .side-art::after {
      @include ligths2;
    }
  }

  .next {
    background-image:url("../img/back2.jpg");
    min-height: 65vh;

    .side-art::before {
      @include tiles1;
    }

    .side-art::after {
      @include tiles2;
    }
  }

  .bazaar {
    background-image:url("../img/back3.jpg");
    min-height: 50vh;

    .side-art::before {
      @include palm5;
    }

    .side-art::after {
      @include sun;
    }

    .side-art .side-art::before {
      @include beachscape;
    }
  }

  .elsewhere {
    background-image:url("../img/back4.jpg");
    min-height: 40vh;

    .side-art::before {
      @include crossing;
    }

    .side-art::after {
      @include lane;
    }

  }

  .data {
    background-image:url("../img/back5.jpg");
    min-height: 65vh;
    .data-value {
      display: block;
      padding: 0;
      margin: 0;
      font-size: 400%;
    }

    #events .side-art::before {
      @include ligths4;
    }

    #spent .side-art::after {

    }

    #attendees .side-art::before {

    }

    #grindz .side-art::after {

    }
  }

  .map {
    background-image: url("../img/map.png"), url("../img/back6.jpg");
    background-repeat: no-repeat, repeat-x;
    background-position: left 60% center, center;
    background-size: cover;
    @media (max-width: $breakpoint-small - 1) {
      background-position: bottom 35% left 45%, center;
      background-size: auto 150%, cover;
    }
    min-height: 750px;
    min-height: 50vh;
  }
}



//HOME SECTION HEADINGS
.sec-subs {
  font-family: $alternative-font-family;
  font-size: 1em;
  text-transform: uppercase;
  margin: auto;
  padding-top: 1em;
  display: block;
  text-align: left;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.sec-subs:after {
  content:'';
  display: block;
  border-bottom: 3px solid $link-color;
  width: 0%;
  position: absolute;
  left: .5em;
  transition: .3s width ease-in;
}

section:hover .sec-subs:after, .section:focus .sec-subs:after{
  width: 100%;
}

// SUBPAGES CUSTOMIZATION
.sub-hero .featured {
  height: 45vh;
  min-height: 300px;
  position: relative;
}

.about {
  .sub-hero .featured {
    background: url("../img/about-photo.jpg") no-repeat;
    background-size: 100% auto;
    background-position: bottom 40% center;
    @media (max-width: $breakpoint-small - 1) {
      background-position: top 75% center;
    }
  }

  .side-art::before {
    @include palm3
    background-position: top 25% left -7.5%;
    height: 150%;
  }
  .side-art::after{
    @include palm4
    background-position: top 5% right -7.5%;
    height: 150%;
  }
  .side-art .side-art::before {
    @include ligths1
    background-position: top;
  }
}

// HELPERS

.vertical-centered {
  padding-top: 6%;
  padding-bottom: 6%;
}

.flex-centered {
  display: flex;
  align-items: center;
}

//FOOTER CUSTOMIZATION

footer {

  .site-navigation {
    display: block;
  }

  form input, form textarea {
    border: none;
    border-bottom: 2px solid $text-color;
  }

  .fa-circle {
    color: $link-color;
  }
}
