/* FORMS */
form {
	margin: 1.75em 0;
}

form label {
	display: block;
}

form input,
form textarea {
	font-family: $alternative-font-family;
	font-size: 1em;
	line-height: 1.15em;
	display: block;
	margin-bottom: 1.25em;
	width: 100%;
	color: #666;
	padding: .25em 0;
	border: .5px solid $text-color-light;
}

form textarea {
	border: .5px solid $text-color-light;
	min-height: 6em;
}

form select {
	display: block;
	height: 2em;
	width: 100%;
	color: #666;
}

form input[type=button],
form input[type=submit],
form input[type=reset] {
	font-family: $body-font-family;
	width: auto;
	display: inline-block;
	background-color: $link-color;
	border: 1px solid $link-color;
	color: #fff;
	padding: 1em 1.25em;
	border-radius: .32em;
	border: none;
	line-height: 1em;
	cursor: pointer;
	&:hover {
		background-color: $link-color-dark;
		border-color: $link-color-dark;
	}
}
