ul.list-grid {
  list-style: none;

  li {
    float: left;
    display: block;
    box-sizing: border-box;
    margin: 1em auto;
    padding: .5em;

    + li {
      margin-left: 5%;
    }


    &.one-half {
      width: 47.5%;
    }

    &.one-third {
      width: 30%;
    }

    @media (min-width: $breakpoint-small) {

      &:nth-child(2n+1).one-half {
        margin-left: auto;
      }

      &:nth-child(3n+1).one-third {
        margin-left: auto;
      }
    }


    @media (min-width: $breakpoint-smaller) and (max-width: $breakpoint-small) {
      &:nth-child(2n+1).one-half {
        margin-left: auto;
      }

      &.goes-half {
        width: 47.5%;
        margin-left: 5%;
      }
      &:nth-child(2n+1).goes-half {
        margin-left: auto;
      }
    }
  }

  &.text-right li, li.text-right {
    float: right;
  }

  &.lined li {
    padding-top: 0;
    padding-right: 0;
    padding-left: .75em;
    float: none;
    display: inline-block;
    margin: .75em auto;
    &:first-child {
      padding-left: 0;
    }
  }
}

@media (max-width:$breakpoint-smaller - 1)  {
  ul.list-grid li + li, li + li, li {
    margin-left: auto;
    margin-right: auto;
  }

  ul.list-grid.stacked li {
    clear: both;
    float: none;
    width: 100%;
  }

  ul.lined {
    text-align: center;
    padding: .5em;
    padding-top: 0;
  }

  ul.list-grid.lined li {
    padding: .5em;
    padding-top: 0;
  }

}

ul.list-clean {
  /*@media (max-width:$breakpoint-smaller) {.column:not(:last-child) {
  margin-bottom: 0;
}*/
.column {
  margin-bottom: 0;
}

li {
  display: block;
  text-align: center;
  margin: 0 0 .5em 0;
}
}
